resources/**
logs/**
tmp/**
data/**
results/**/*.raw.txt
containers/**
.snakemake
.snakemake/**
.test/results/*
AGENTS.md
**/.Rhistory
**/*.Rproj
**/.Rproj.user/**
**/.RData
**/Rplots.pdf


# Optional large-output directories
workdir/**
reports/**
figures/**
plots/**
